<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Settings</title>
			<subitems>
				<subitem>
					<subitemtitle>Settings</subitemtitle>
					<subsection>settings</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Tiers</title>
			<subitems>
				<subitem>
					<subitemtitle>Tiers</subitemtitle>
					<subsection>settings</subsection>
					<subitemurl>do=tiers</subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
	</tabitems>
</menu>